* {
  margin: 0;
  padding: 0;
  font-family: "Poetsen One", sans-serif;
  font-weight: 100;
  font-style: normal;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(255, 213, 158);
}
.container {
  background-color: rgb(255, 255, 255);
  width: 25vw;
  height: 60vh;
  border-radius: 16px;
  padding: 20px;
  padding-bottom: 0px;
  /* text-align: center; */
}
form {
  margin-top: 2rem;
}
form p {
  font-size: 1.25rem;
  padding-left: 1.8rem;
}
form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}
form input {
  border: 1px solid grey;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
  width: 20rem;
  margin: auto 1.7rem;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin: 3rem 0.75rem;
  padding: 0 1rem;
}
.dropdown img {
  width: 1.5rem;
}
.from,
.to {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 6rem;
  padding: 0.1rem 0.5rem;
}
.from > img,
.to > img {
  width: 2rem;
}
.msg {
  padding-left: 1.8rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.container button {
  margin-left: 1.8rem;
  height: 4rem;
  width: 20rem;
}
form button {
  background-color: rgb(206, 55, 55);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
